.app-container {
  display: flex;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.sidePanel {
  width: 300px;
  height: 100vh;
  background-color: rgb(240, 240, 240);
  padding: 10px;
}

.mainContent {
  flex-grow: 1;
  height: 100vh;
}

.imageUploadWrapper {
  width: 800px;
}
